#userName{
    font-size: 16px;
    position: absolute;
    top: 2.5em;
    left: 5%;
    padding-left: 30px;
    text-align: center;
    font-weight:bold;
    color: #c0c0c1;
    animation: opacity 2s;
}

h2{
    font-size: 40px;
    text-align: center;
    color: #ffe74e;
    width: 35%;
    margin: 100px auto;
    border-bottom : solid 2px #ffe74e;
    animation: bottomScroll2 3s;
}

.SearchSpace{
    display: block;
    background-color: #0b1727;
    border: 3px solid;
    border-radius: 3em;
    border-color: #ff0139;
    font-size: 25px;
    padding-left: 25px;
    padding-right: 25px;
    margin: 50px auto 20px auto;
    width: 40%;
    height: 40px;
    color: #c0c0c1;
    animation: opacity 3s;
}

.SearchSpace:hover{
    border: 7px double;
    border-color: #ff0139;
    margin-top: 46px;
    margin-bottom: 16px;
}

#sea{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    animation: opacity 5s;
}

#reg{
    position: absolute;
    right: 2%;
    top: 4.5em;
    overflow:hidden;
}


#log{
    position: absolute;
    right: 2%;
    top: 8em;
    overflow:hidden;
}

#out{
    position: absolute;
    right: 2%;
    top: 2em;
    overflow:hidden;
}

#fav{
    position: absolute;
    left: 5%;
    top: 6em;
    overflow:hidden;
    animation: bottomScroll 3s;
}

#musicList {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    width: 85%;
    animation: bottomScroll 3s;
}

#music {
    margin: 45px 1%;
    border-radius: 1em;
    width: 30%;
    height: 200px;
    border-bottom: solid 5px #ff0139;
    border-right: solid 5px #ff0139;
    transition: 0.2s;
}

#music:hover {
    margin: 0 0 35px 0;
    width: 32%;
    height: 230px;
    border-radius: 10px;
    border: solid 3px #c0c0c1;
}


#addFavButton,
#delFavButton {
    position: absolute;
    margin-left: -6em;
    width: 70px;
    margin-top: 17.5em;
}

#addFavButton:hover {
    background-color: #ffe74e;
    border: solid 3px #ffe74e;
}


#delFavButton:hover {
    background-color: #c0c0c1;
    border: solid 3px #c0c0c1;
}


#favorite{
    background-color: #0b1727;
    border-color: #ff0139;
    color: #ff0139;
    width: 100%;
    height: 75px;
    font-size: 20px;
}

#favorite:hover{
    background-color: #0b1727;
    border-color: #ffe74e;
    color: #ffe74e;
}

#login{
    animation: rightScroll 4s;
}

#register{
    background-color: #ff0139;
    border-color: #ff0139;
    color: #0b1727;
    
    animation: rightScroll 3s;
}

#register:hover{
    background-color: #c0c0c1;
    border-color: #c0c0c1;
    color: #0b1727;
}

#logout{
    background-color:#0b1727;
    border-color: #0b1727;
    color: #c0c0c1;
    
    animation: rightScroll 3s;
}

#logout:hover{
    background-color: #0b1727;
    border-color: #c0c0c1;
    color: #c0c0c1;
}


@keyframes rightScroll {
    0%  { margin-left: 150% }
    10%  { margin-left: 150% }
    80%  { margin-left: 0 }
    100%  { margin-left: 0 }
  }

  @keyframes bottomScroll {
    0%  { margin-top: 150% }
    10%  { margin-top: 150% }
    80%  { margin-top: 0 }
    100%  { margin-top: 0 }
  }

  @keyframes bottomScroll2 {
    0%  { margin-top: 150% }
    10%  { margin-top: 150% }
    80%  { margin-top: 100px }
    100%  { margin-top: 100px }
  }

  @keyframes opacity {
    0%  { opacity: 0 }
    10%  { opacity: 0 }
    80%  { opacity: 1 }
    100%  { opacity: 1 }
  }

