body{
    overflow:hidden;
}


h3{
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    color: slateblue;
}

#logTitle{
    margin: 30px auto 80px auto;
}

#regTitle{
    margin: 40px auto 60px auto;
}

.errorMessage{
    text-align: center;
    margin: -40px auto 50px auto;
    width: 30%;
    position: absolute;
    color:#ff0139;
    font-weight:bold;
}

.form{
    border: 3px solid;
    border-radius: 3em;
    border-color: slateblue;
    background-color: rgb(35, 30, 70);
    
    display: block;
    
    margin: 50px auto;
    width: 30%;
    height: 600px;
    
    animation: topScroll 0.8s;
}

form{
    display: block;
    margin: auto auto;
    width: 80%;
}


label{
    text-align: center;
    display: block;
    margin: 30px auto 10px auto;
    width: 50%;
}

.textField{
    color: #c0c0c1;
    background-color: #0b1727;
    width: 200px;
    height: 50px;
    border: 2px solid;
    border-radius: 1em;

    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;

    display: block;
    margin: 10px auto 30px auto;
}

.textField:hover{
    border: 6px double;
    width: 192px;
    height: 42px;
}



#loginForm{
    display: block;
    margin: 50px auto 70px auto;
    width: 200px;
    height: 50px;
}

hr{
    border-color: slateblue;
}

#registerLink {
    justify-content: center;
    margin: 40px 25%;
}

#registerForm{
    background-color: #ff0139;
    border-color: #ff0139;
    color: #0b1727;
    
    display: block;
    margin: 15px auto;
    width: 30%;
    padding: 5px 15%;
    text-align: center;
}

#registerForm:hover{
    background-color: #c0c0c1;
    border-color: #c0c0c1;
    color: #0b1727;
}

.returnButton{
    display: block;

    color: slateblue;
    background-color: transparent;
    border-color: transparent;
    
    margin: auto;
    width: 200px;
    height: 25px;
    font-size: 14px;
    
    transition: 0.3s;
    text-align: center;
}

.returnButton:hover{
    color: #c0c0c1;
    cursor: pointer;
}


@keyframes topScroll {
    0%  { margin-top: 150% }
    10%  { margin-top: 150% }
    80%  { margin-top: 50px }
    100%  { margin-top: 50px }
  }


