<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home | OPAMusic</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/general.css">
        <link rel="stylesheet" href="/css/home.css">
        <link rel="shortcut icon" type="/image/png" href="/images/icon.png">
    </head>
    <body>
        <a th:href="@{/register}" id="reg" sec:authorize="isAnonymous()">
            <input id="register" class="button" type="button" value="REGISTER"> 
        </a>
        <a th:href="@{/loginRedirect}" id="log" sec:authorize="isAnonymous()">
            <input  class="button" type="button" value="LOG IN"> 
        </a>
        <form th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()">
                <input type="submit" value="Sign Out" />
        </form>
        
        <form th:action="@{/fav}" method="post" sec:authorize="isAuthenticated()">
            <input type="submit" value="Favorites" />
    </form>

        <img src="/images/logo.svg">
        <form data-th-action="@{/search}" data-th-object="${search}" method="POST">
            <input class="SearchSpace" type="text" id="search" data-th-field="*{search}" placeholder="Search">
            <input id="sea" class="button" type="submit" value="Search">
        </form>
        <br>
        <!-- Load all videos -->
        <div id="musicList">
            <span data-th-each="v : ${videos}">
                <iframe id="music" width="420" height="315" data-th-src="'http://www.youtube.com/embed/' + ${v.url} + '?showinfo=0&modestbranding=1'" frameborder="0" allowfullscreen><br></iframe>
                <a data-th-href="@{/addFav/{link}&{mail} (link=${v.url},mail=${#httpServletRequest.remoteUser})}">
                    <input id="addFav" class="button" type="button" value="addFav" sec:authorize="isAuthenticated()">
                </a>
            </span>
        </div>      
    </body>
</html>