<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>User Registration</title>
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/userForm.css">
</head>

<body>
    <div class="form">
        <h3 id="reg">User Registration</h3>
        <form th:action="@{/addUser}" method="post">
            <div><label>Name : </label><input class="textField" type="text" name="name" maxlength="25" minlength="2"/></div>
            <div><label>Email : </label><input class="textField" type="text" name="email" minlength="2"/></div>
            <div><label>Password : </label><input class="textField" type="password" name="password" minlength="2"/></div>

            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <input class="button" id="login" type="submit" value="Register"/>

        </form>
        <div class="errorMessage" th:text="${msg}"></div>
    </div>
</body>

</html>