<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Opa Music</h1>
        <div class="SearchSpace">
            <form id="reseach" data-th-action="@{/search}" data-th-object="${search}" method="POST">
                <input type="text" id="search" data-th-field="*{search}" placeholder="search">
                <input type="submit" value="submit" id="goSearch">
            </form>
        </div>
        <br>
        <!-- Load all video -->
        <iframe data-th-each="v : ${videos}" width="420" height="315" data-th-src="'http://www.youtube.com/embed/' + ${v.url}" frameborder="0" allowfullscreen></iframe>
        
    </body>
</html>