<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Sign Up | OPA Music</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        Sign Up
        <form method="post" data-th-action="@{/addNewUser}" data-th-object="${newUser}">
            <input type="text" placeholder="Login" data-th-field="*{login}">
            <br>
            <input type="password" placeholder="Password" data-th-field="*{password}">
            <br>
            <input type="text" placeholder="Email Adress" data-th-field="*{email}">
            <br>
            <input type="submit" name="SignUp">
        </form>
    </body>
</html>